{% extends "base.html" %}

{% block content %}

    <section class="Nav-buttons">
        <nav>
            <ul>
                <li>
                    <a href=""> Create Account</a>
                </li>
                <li>
                    <a href="">Account</a>
                </li>
                <li>
                    <a href="">Withdraw</a>
                </li>
                <li>
                    <a href="">Deposit</a>
                </li>
                <li>
                    <a href="">Transfer</a>
                </li>
                <li>
                    <a href="">Statement</a>
                </li>
            </ul>
        </nav>
    </section>

{% endblock %}