{% extends "base.html" %}
{% load static %}

{% block styles %}

    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">

{% endblock %}


{% block content %}
    <div class="mainpage">
        <div class="mainpage-content">
            <h2>Welcome {{request.user.username}}</h2>
            <div>
                <nav>
                    <ul>
                        <li>
                            <a href="#"> 
                                <img src="/static/logos/account.png" alt="Account">
                                <span>Account</span>

                            </a>

                        </li>
                        <li>
                            <a href="{% url 'home_url:home-transactionlog' %}">
                                <img src="/static/logos/log.png" alt="Log">
                                <span>Transaction Log</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'home_url:home-deposit' %}">                      
                                <img src="/static/logos/deposit.png" alt="Deposit">
                                <span>Deposit</span>
                            </a>  
                        </li>
                        <li>
                            <a href="{% url 'home_url:home-withdraw' %}">                       
                                <img src="/static/logos/withdraw.png" alt="Withdraw">
                                <span>Withdraw</span>
                            </a> 
                        </li>
                        <li>
                            <a href="{% url 'home_url:home-transfer' %}">                      
                                <img src="/static/logos/transfer.png" alt="transfer">
                                <span>Transfer</span>
                            </a> 
                        </li>
                        <li>
                            <a href="{% url 'user_url:user-logout' %}">               
                                <img src="/static/logos/logout.png" alt="Logout">
                                <span>Log Out</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> 
        <div class="polkadot"></div> 
    </div>  
{% endblock %}