{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block styles %}

    <link rel="stylesheet" href="{% static 'css/transactionlog.css' %}">
    
{% endblock %}

{% block content %}

    <section class="transactionlogpage">
        <section class="transactionlog-content">
            <h2>Transaction History</h2>
            <p>Current User : {{ request.user.username}}</p>
            <p>Current Balance : {{ request.user.balance }}</p>
            <section class="log">
                {% for log in request.user.activities_log reversed %}
                    <p>{{ log }}</p>
                {% endfor %}
            </section>

        </section>
        <div class="polkadot"></div>
    </section>
    
{% endblock %}