* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFA;
}

.jp-script{
    width: 6rem;
    height: 22.5rem;
    margin: 45vh 0 0 85vw;
    font-size: 2.5rem;
    font-family: MS Mincho;
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 1.2;
}

.jp-script > p + p {
    text-indent: 2.5rem;
}

.Nav-buttons {
    margin: 200px 0 200px 0;
    padding: 0;
}