
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Base CSS  -->
    <link rel="stylesheet" href= "{% static 'css/base.css' %}">
    <!-- Extended Contents for CSS  -->
    {% block style %} {% endblock %}
    <title>ATMWeb</title>

</head>

<body>
    <!-- Main Navigation Buttons -->
    <div class="jp-script">
        <p lang="jp-JP"> 現金自動預払機</p>
        <p lang="jp-JP"> にアクセスする。</p>
    </div>

    <!-- Extended Contents -->
    <section class="extended-contents">
        {% block content %} {% endblock %}
    </section>

    <footer>
        <!-- Media logos -->
        <section class="medialogo"> 
            <nav>
                <ul>
                    <li> 
                        <a href="#"> <img src="../static/logos/TwitterWhiteLogo.png" alt="Twitter Logo"></a>
                    </li>
                    <li> 
                        <a href="#"> <img src="../static/logos/YoutubeWhiteLogo.png" alt="Youtube Logo"></a> 
                    </li>
                    <li> 
                        <a href="#"> <img src="../static/logos/MailWhiteEnvelope.png" alt="Mail Envelope"></a> 
                    </li>
                </ul>
            </nav>
        </section>

        <section>
            <section class="left-footer">
                <nav>
                    <ul>
                        <li class="company-copyright"> &#169; Ausui, Inc.</li>
                        <li class="company-address">5 Chome-X-XX Roppongi, Minato City, Tokyo 106-0032, Japan</li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </nav>
            </section>

            <section class="right-footer">
                <nav>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Emporium</a></li>
                    </ul>
                </nav>
            </section>

        </section>
    </footer>
</body>

</html>