{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainpage.css' %}">
    <title>Document</title>
</head>

<body>
    <!-- Main Navigation Buttons -->
    <div class="jp-script">
        <p lang="jp-JP"> 現金自動預払機</p>
        <p lang="jp-JP"> にアクセスする。</p>
    </div>

    <!-- Extended Contents -->
    {% block content %} 
    {% endblock %}

    <footer>
        <!-- Media logos -->
        <section class="medialogo"> 
            <nav>
                <ul>
                    <li> <a href="#">placeholder</a> </li>
                    <li> <a href="#">placeholder</a> </li>
                    <li> <a href="#">placeholder</a> </li>
                </ul>
            </nav>
        </section>

        <!-- Placeholder1 -->
        <section class="placeholder1">

            <span>placeholder</span>

            <nav>
                <ul>
                    <li><a href="#">placeholder</a></li>
                    <li><a href="#">placeholder</a></li>
                </ul>
            </nav>
        </section>
        
        <!-- Placeholder2 -->
        <section class="placeholder2">

            <span>placeholder3</span>

            <nav>
                <ul>
                    <li><a href="#">placeholder</a></li>
                    <li><a href="#">placeholder</a></li>
                </ul>
            </nav>
        </section>

        <!-- Placeholder3 -->
        <section class="placeholder3">

            <span>placeholder3</span>

            <nav>
                <ul>
                    <li><a href="#">placeholder</a></li>
                    <li><a href="#">placeholder</a></li>
                </ul>
            </nav>
        </section>
    </footer>
</body>

</html>