@use 'abstracts' as *;

.extended-contents {
    position: relative;
    width: 100%;
    height: 100vh;

    .login-page {
        background: linear-gradient(to right, $main-blue 50%, $main-blue-tint-8 50%);
        width: 50rem;
        height: 30rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin: auto;
        
        .login-form {
            margin: 5% 0 0 55%;
            color: $main-grey;
            font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;

            form {
                padding: 20% 0 0 0;
            }
            
            .input-box {
                display: block;
                height: 2rem;
                width: 80%;
                border-radius: 15px;
                border: 0;
                padding-left: 5%;   //move placeholder text to the right

                &:focus {
                    outline: none;  //make black outline of textbox disappear
                }
            }

            .password-input {
                margin-top: 5%;
            }
            

            button {
                margin-top: 10%;
                width: 80%;
                height: 2rem;
                border-radius: 15px;
                border: 0;
                color: white;
                background-color: $main-blue;
                font-size: 1rem;
                
                &:hover {
                    background-color: $main-blue-tint-1;
                    cursor: pointer;
                }
            }

            .signup-at-signin {
                margin-top: 10%;
                font-size: 0.8rem;

                a, a:link, a:visited, a:active {
                    color: $main-blue;
                    text-decoration: none
                
                }

                a:hover {
                    color: $main-blue-tint-1
                }
            }

            .copyright {
                color: #D9D9D9;
                margin-top: 15%;
                margin-left: 40%;
                font-size: 0.6rem;
                
            }
        }

        .polkadot {
            position: absolute;
            top: 0;

            background-image: radial-gradient($main-white 20%, transparent 20%),
            radial-gradient($main-white 20%, transparent 20%);

            height: 30rem;
            width: 25rem;
            background-position: 0px 0px, 44px 44px;
            background-size: 88px 88px;
        }
        
    }   
        
}